* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", "Noto Serif", Arial, Helvetica, sans-serif;
}

header {
    padding: 1rem;
    text-align: center;
}

fieldset {
    width: max-content;
}

legend {
    font-size: 1.2rem;
}

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 1rem;
}
