{% extends 'base.html' %} {% block extra_css %} {% endblock %} {% block content
%} {% if entries %}
<fieldset class="box">
    <legend>
        Up & Coming Meets
        <span id="smol-info"
            >(According to
            <a id="smol-info-linked" href="https://live.swimrankings.net"
                >live.swimrankings.net</a
            >)</span
        >
    </legend>
    <form method="POST">
        <header>
            <button type="submit">Submit</button>
            <br />
            <input
                type="text"
                placeholder="Search for a meet by Name!"
                style="width: 100%"
                onchange=""
            />
        </header>
        <table>
            <tbody>
                <tr>
                    <th class="Added">Added</th>
                    <th class="Date">Date</th>
                    <th class="Course">Course</th>
                    <th class="City">City</th>
                    <th class="Name">Meet Name</th>
                </tr>
                {% for entry in entries %}
                <tr>
                    <td class="Checkbox">
                        <input
                            type="checkbox"
                            name="entry"
                            value="{{ [entry[0],entry[1]] }}"
                        />
                    </td>
                    <td class="Date">
                        <a
                            href="https://live.swimrankings.net/{{ entry[0] }}/"
                            target="_blank"
                            rel="noopener noreferrer"
                            >{{ entry[1] }}</a
                        >
                    </td>
                    <td class="Course">
                        <a
                            href="https://live.swimrankings.net/{{ entry[0] }}/"
                            target="_blank"
                            rel="noopener noreferrer"
                            >{{ entry[2] }}</a
                        >
                    </td>
                    <td class="City">
                        <a
                            href="https://live.swimrankings.net/{{ entry[0] }}/"
                            target="_blank"
                            rel="noopener noreferrer"
                            >{{ entry[3] }}</a
                        >
                    </td>
                    <td class="Name">
                        <a
                            href="https://live.swimrankings.net/{{ entry[0] }}/"
                            target="_blank"
                            rel="noopener noreferrer"
                            >{{ entry[4] }}</a
                        >
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
</fieldset>
{% else %}
<fieldset class="box">
    <h1>
        Failed to scrape
        <a
            href="https://live.swimrankings.net"
            target="_blank"
            rel="noopener noreferrer"
            >live.swimrankings.net</a
        >, reload page to try again
    </h1>
</fieldset>
{% endif %} {% endblock %} {% block scripts %}
<script src="{{ url_for('static', filename='js/search.js') }}"></script>
{% endblock %}
