<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aqua Metrics</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <header>
        <h1>Aqua Metrics</h1>
        <nav>
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('auth.logout') }}">Logout</a> |
                <a href="{{ url_for('user_profile.profile', user_name=current_user.username) }}">Profile</a>
            {% else %}
                <a href="{{ url_for('auth.login') }}">Login</a> |
                <a href="{{ url_for('auth.register') }}">Register</a>
            {% endif %}
        </nav>
    </header>    
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
<script src="{{ url_for('static', filename='js/bubbles.js') }}"></script>
<script src="{{ url_for('static', filename='js/fieldset.js') }}"></script>
</html>
