{% extends 'base.html' %}

{% block content %}
<h2>Login</h2>
<form method="POST">
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit" style="align-self: center;">Login</button>
</form>

<p style="align-self: center;">Don't have an account? <a href="{{ url_for('auth.register') }}">Register here</a></p>
{% endblock %}
