{% extends 'base.html' %}

{% block content %}
<h2>{{ user.username }}'s Profile</h2>

<h3>Personal Bests</h3>
<ul>
    {% for event, time in pbs.items() %}
    <li>{{ event }}: {{ time }}</li>
    {% endfor %}
</ul>

<h3>Training Sessions</h3>
<div>
    <a href="{{ url_for('training_sessions.create') }}">Create Session</a> ||
    <a href="{{ url_for('training_sessions.view') }}">View Sessions</a>
</div>
<ul>
    {% for session in sessions %}
    <li>{{ session.name }}: {{ session.distance }} meters ::
        <a href="{{ url_for('training_sessions.edit', username=user.username, session_id=session.id) }}">Edit</a> ||
        <form method="POST" action="{{ url_for('training_sessions.delete', username=user.username, session_id=session.id) }}">
            <button type="submit" id="link-button">Delete</button>
        </form>
    </li>
    {% endfor %}
</ul>
{% endblock %}