{% extends 'base.html' %}

{% block content %}
<h2>Register</h2>
<form method="POST">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <p>If you have a swimnrakings ID please enter it here.
            You can check online at <a href="https://www.swimstats.net">swimstats.net</a> by entering your name and copying the ID.
        </p>
        <label for="swimrankings_id">SwimRankings ID:</label>
        <input type="text" id="swimrankings_id" name="swimrankings_id">
    </div>
    <button type="submit">Register</button>
</form>

<p>Already have an account? <a href="{{ url_for('auth.login') }}">Login here</a></p>
{% endblock %}
