{% extends "base.html" %} {% block extra_css %}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/view_sessions.css') }}"
/>
{% endblock %} {% block content %}
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div id="session-content">
            <div id="session-info">
                <h3>Training Session</h3>
                <p class="session-details"></p>
            </div>
            <img id="session-image" src="" alt="Training session image" />
        </div>
    </div>
</div>

<h2>Click the session date to view the session</h2>

<div class="sessions">
    <fieldset class="session-field">
        <legend>This Week's</legend>
        <div id="current-week" class="session-group"></div>
    </fieldset>

    <fieldset class="session-field">
        <legend>This Month's</legend>
        <div id="current-month" class="session-group"></div>
    </fieldset>

    <fieldset class="session-field">
        <legend>Last Month's</legend>
        <div id="last-month" class="session-group"></div>
    </fieldset>

    <fieldset class="session-field">
        <legend>This Year's</legend>
        <div id="current-year" class="session-group"></div>
    </fieldset>

    <fieldset class="session-field">
        <legend>Last Year's</legend>
        <div id="last-year" class="session-group"></div>
    </fieldset>

    <fieldset class="session-field">
        <legend>All Training Sessions</legend>
        <div id="all-sessions" class="session-group"></div>
    </fieldset>
</div>
{% endblock %} {% block scripts %} {{ super() }}
<script src="{{ url_for('static', filename='js/training/session_modal.js') }}"></script>
<script src="{{ url_for('static', filename='js/training/order_sessions.js') }}"></script>
{% endblock %}
