{% extends 'base.html' %} {% block extra_css %}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/profile.css') }}"
/>
{% endblock %} {% block content %}
<div class="profile-container">
    <fieldset class="profile-section" id="pbs-section">
        <legend>
            Personal Bests 🏆{% if user.swimrankings_id %}
            <a id="swimrankings-id" href="https://www.swimrankings.net/index.php?page=athleteDetail&athleteId={{ user.swimrankings_id }}" target="_blank" rel="noopener noreferrer">
                Swimrankings ID: {{ user.swimrankings_id }}
            <a/>
            {% endif %}
        </legend>
        {% if user.added_swimrankings %} {% if pbs %}
            <table class="personal-bests">
                <thead>
                    <tr>
                        <th>Event</th>
                        <th>Course</th>
                        <th>Time</th>
                        <th>Date</th>
                        <th id="location">Location</th>
                    </tr>
                </thead>
                <tbody>
                    {% set sorted_pbs = pbs|sort(attribute='date', reverse=True)
                    %} {% for pb in sorted_pbs %}
                    <tr>
                        <td>{{ pb.event }}</td>
                        <td>{{ pb.course }}</td>
                        <td>{{ pb.time }}</td>
                        <td>{{ pb.date }}</td>
                        <td id="location">{{ pb.city }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
        <div class="empty-state">No personal best times available</div>
        {% endif %} {% else %}
        <div class="empty-state">
            <p>Find your swimrankings ID</p>
            <form
                method="POST"
                action="{{ url_for('db_api.find_swimrankings_id') }}"
                enctype="application/x-www-form-urlencoded"
            >
                <div>
                    <label for="firstname">Firstname:</label>
                    <input
                        type="text"
                        id="firstname"
                        name="firstname"
                        required
                    />
                </div>
                <div>
                    <label for="lastname">Lastname:</label>
                    <input type="text" id="lastname" name="lastname" required />
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>
        {% endif %}
    </fieldset>

    <fieldset class="profile-section" id="training-section">
        <legend>Recent Training 🏊‍♂️</legend>
        <div class="empty-state">
            No training sessions recorded yet!
        </div>
    </fieldset>

    <fieldset class="profile-section" id="meat-section">
        <legend>Up & Coming Meets 📅</legend>
        {% if user_meets and user_meets|length >= 1 %}
        <button onclick="location.href = '{{ url_for('user_meets.add_meat') }}';">Add some Meets!</button>
        <table>
            <tbody>
                <tr>
                    <th class="Date">Date</th>
                    <th class="City">City</th>
                    <th class="Name">Meet Name</th>
                </tr>
                {% for meat in user_meets %}
                <tr>
                    <td class="Date">
                        {{ meat.meet_date }}
                    </td>
                    <td class="City">
                        {{ meat.meet_city }}
                    </td>
                    <td class="Name">
                        {{ meat.meet_name}}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="empty-state">
            No upcoming meets yet!
            <button onclick="location.href = '{{ url_for('user_meets.add_meat') }}';">Add some Meets!</button>
        </div>
        {% endif %}
    </fieldset>
</div>
{% endblock %}
